@keyframes color-change {
  0% {
    color: rgb(172, 61, 10);
  }
  100% {
    color: red;
    opacity: 50%;
  }
}

@keyframes movement {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.body {
  margin: 0;
  color: rgb(172, 61, 10);
  cursor: url(https://sun9-28.userapi.com/c240331/u43582557/docs/d38/135691cae632/chek2.png?extra=6WFkjCV9S_XAIHHR0N878LsDfMGwuemuumRQRAXOnLk1pZm_ml0covEKVvoS0mUwMnUU0lnJhhVyaw7MMVxyo1gEMouER2mXMU_4TNkO4WtbhJdP019_wiHHJyxw7eoO0oNeapw-1Vou3CtTHI0r_g)
      24 24,
    auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

h1:first-child:hover {
  color: red;
  opacity: 50%;
}

ul {
  display: grid;
  grid-template-columns: 1em 1em 1em 1em 1em;
  gap: 100%;
  margin: auto;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
}
.shadow {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 80%;
  display: none;
  position: fixed;
  z-index: 1;
}
.header {
  background-color: #ff9a9e;
  height: 130px;
  display: flex;
}
.header_text_blocks {
  font-size: 1.8em;
  animation: color-change 3s infinite alternate;
}
.header_text_color_switcher {
  transition: 0.5s;
}
.header_text_color_switcher:hover {
  cursor: none;
  color: black;
  transform: translateY(-10px);
}
.header_text_color_cleaner {
  transition: 0.5s;
}
.header_text_color_cleaner:hover {
  cursor: none;
  color: black;
  transform: translateY(10px);
}
.header_text_destiny {
  transition: 1s;
}
.header_text_destiny:hover,
.header_text_destiny.hover {
  cursor: none;
  color: black;
}
.pop {
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  color: rgb(172, 61, 10);
  text-align: center;
}
.pop_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
}
.pop_inside_hello {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  animation: color-change 3s infinite alternate;
}
.pop_inside_link {
  font-size: 0.9em;
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 0 auto;
  width: 80%;
  animation: color-change 3s infinite alternate;
}
.pop_inside_link_hellmode::selection {
  background-color: red;
}
.pop_inside_link_normalmode::selection {
  background-color: black;
}
.pop_inside_text {
  margin: 0 auto;
}
.pop_inside_text:hover {
  cursor: none;
}
.pop_inside_text_invisible {
  display: none;
}
.pop_img {
  max-width: 60%;
  align-self: center;
  transition: 1s;
  margin: 25px auto;
  border: 7px rgb(172, 61, 10) solid;
}
.pop_img:hover {
  transform: translateY(-25px);
  transition: 1s;
  cursor: none;
}
.pop_header {
  padding: 50px 50px 0 50px;
  font-size: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.pop_header_text {
  transition: 2s;
}
.pop_header_text:hover {
  cursor: none;
  transform: rotate(180deg);
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #ff9a9e;
  height: 130px;
}

.footer_ending_author {
  margin: auto auto 0 auto;
  font-size: 1em;
  color: rgb(172, 61, 10);
}
.footer_ending_author:hover {
  cursor: none;
}
.footer_ending_year {
  margin: 0 auto;
  font-size: 0.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(172, 61, 10);
}
.secret_card {
  align-items: center;
  background-color: rgba(17, 11, 11);
  width: 1250px;
  height: 600px;
  top: 170px;
  left: 300px;
  display: none;
  position: fixed;
  z-index: 2;
  grid-template-columns: 50% 50%;
}
.card_photo {
  width: 350px;
  height: 350px;
  margin: 100px auto auto 170px;
  opacity: normal;
}
.card_text {
  margin: 130px 170px auto auto;
  text-align: end;
  color: rgb(151, 143, 143);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.17em;
}
.super_shadow {
  background-color: black;
  width: 100px;
  height: 100px;
  z-index: 3;
}
.secret_card_destiny {
  align-items: center;
  background-color: rgba(17, 11, 11);
  width: 1250px;
  height: 600px;
  top: 170px;
  left: 300px;
  display: none;
  position: fixed;
  z-index: 2;
  outline: red solid 3px;
  outline-offset: -3px;
}
.secret_card_destiny_text {
  color: red;
  animation: movement 1s infinite alternate;
  text-align: start;
}
.secret_card_destiny_header {
  color: red;
  text-align: end;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0;
}
.secret_button {
  display: none;
  color: white;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  font-size: 50px;
  z-index: 4;
  position: fixed;
  top: 130px;
  left: 1542px;
  transform: rotate(45deg);
}
.secret_button:hover {
  cursor: none;
}
hr {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  height: auto;
  border: transparent solid 0;
  background: transparent;
}
hr::after {
  content: '\5454\2003\2003\5453\2003\2003\5452';
}
.askMe {
  min-width: 200px;
  position: absolute;
  top: 200px;
  margin: auto;
}
